.menu__container{
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100vw;
    overflow: hidden;
    background: var(--header-color-hover);
    font-size: 14px;
}

.menu__container:hover{
    overflow-y: auto;
}

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista:nth-child(1n + 2){
    display: none;
}

.menu__lista li{
    align-self: center;
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: .4em;
    border-radius: 4px;
    transition: .2s;
}

.menu__itens:hover {
    color: var(--header-color-hover);
    background-color: var(--header-color);
}

@media (min-width: 834px) {
    .menu__container{
        top: 5rem;
        left: 0%;
        height: auto;
        width: auto;
    }

    .menu__lista{
        flex-direction: column;
        justify-content: flex-start;
        gap: 2em;
    }

}

@media (min-width: 1440px){

    .menu__container{
        width: 239px;
    }

    .menu__itens{
        flex-direction: row;
        align-items: center;
        gap: .5em;
        padding: .5em .3em;
    }

    .menu__lista{
        height: auto;
        padding: .5em .5em;
        gap: .5em;
    }

    .menu__lista:nth-child(n + 2){
        display: flex;
    }

    .menu__lista:nth-child(3){
        flex-direction: column-reverse;
    }

    .jogos{
        order: 2;
    }

    .filmes{
        order: 1;
    }

    .premium{
        order: 0;
    }

    .maispagina{
        order: 3;
    }
}