.contact{
    background: var(--content-background-second);
    padding: 1.5em;
    border-bottom: solid 1px var(--color-text);
}

.contact__title,.contact__text{
    background: var(--content-gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact__title{
    font-size: 18px;
    font-weight: 500; 
}

.contact__text{
    font-weight: 300;
    margin: 1em 0;
}

@media (min-width: 1024px) {
    .contact{
        padding: 3em 7em;
        display: grid;
        grid-template-columns: 45% 50%;
        justify-content: space-between;
        align-items: center;
    }

    .contact__title{
        font-size: 24px;
    }

    .topics__search{
        width: 95%;
        position: relative;
        margin: 0 0 0 auto;
    }
}

@media (min-width: 1444px) {
    
    .contact{
        display: flex;
        justify-content: center;
    }

    .topics__search{
        margin: 0;
    }

    .contact > div{
        width: 22vw;
    }
    
    .contact__title{
        width: fit-content;
    }
}