.footer{
    background: var(--color-text-white);
    padding: 1.5em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;

}

.footer__title{
    font-size: 24px;
}

.list-footer{
    display: none;
}


@media (min-width:1024px){
    .list-footer{
        display: block;
        list-style-type: none;
    }
    
    .list-footer__title > h2{
        font-size: 14px;
        margin-bottom: 2em;
        color: var(--color-title-footer);
        text-transform: uppercase;
    }
    
    .list-footer__item{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: left;
        padding: .5em 0;
        gap: .5em;
    }
    
    .list-footer__item > a{
        text-decoration: none;
        font-size: 14px;
        color: var(--color-text-footer)
    }
}



@media (min-width:1440px){

    .footer{
        padding-top: 3em;
    }

    .list-footer{
        border-left: solid 1px var(--color-title-footer);
        padding-left: 1em;
    }

}