.heading{
    background-color: var(--content-background-second);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
}

.iconSpacing{
    padding: 1em;
}

.heading__menu-hamburguer{
    width: 25px;
    height: 25px;
    background-image: url("../img/menu.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.heading__content{
    display: flex;
    align-items: center;
}

.list-menu{
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 60vw;
}

/* O ~ é como se fosse if no css */
.content__bottom:checked ~ .list-menu{
    display: block;
}

.list-menu__title,
.list-menu__item{
    background-color: var(--content-background-second);
    padding: 1.4em;
}

.list-menu__title{
    color: var(--title-color-primary);
    font-weight: 700;
}

.list-menu__link{
    background: var(--content-gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.content__bottom{
    display: none;
}

.content__title{
    display: none;
}

.options{
    display: none;
}

.content__text{
    display: none;
}


@media (min-width: 1024px){
    .content__title, .content__title--bold{
        font-family: var(--font-second);
        font-size: 30px;
    }

    .content__title{
        font-weight: 400;
        display: block;
    }

    .content__title--bold{
        font-weight: 700;
    }

    .options{
        display: flex;
        gap: 2em;
    }

    .options__item > a, .options__item{
        text-decoration: none;
        color: var(--color-text);
        text-transform: uppercase;
    }

    .content__hidden, .heading__menu-hamburguer{
        display: none;
    }

    .option__bottom{
        display: none;
    }

    .option__bottom:checked ~ .list-menu{
        position: absolute;
        display: block;
        width: 20%;
        z-index: 2;
    }

    

}

@media (min-width: 1440px){
    .content__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--color-text);
        gap: .5em;
    }

    .content__text{
        display: block;
    }

    .heading{
        padding: 0 2em;
    }

    .options{
        margin-right: auto;
        padding-left: 3em;
    }
}